@font-face {
    font-family: FrenchKissscript;
    src: url(./assets/fonts/FrenchKissscript.ttf);
}

@font-face {
    font-family: RougeScript;
    src: url(./assets/fonts/RougeScript-Regular.ttf);
}
@font-face {
    font-family: CormorantGaramondLight;
    src: url(./assets/fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: CormorantGaramondBold;
    src: url(./assets/fonts/CormorantGaramond-BoldItalic.ttf);
}
