@font-face {
  font-family: FrenchKissscript;
  src: url(./assets/fonts/FrenchKissscript.ttf);
}

@font-face {
  font-family: RougeScript;
  src: url(./assets/fonts/RougeScript-Regular.ttf);
}
@font-face {
  font-family: CormorantGaramond;
  src: url(./assets/fonts/CormorantGaramond-Medium.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  src: url(./assets/fonts/CormorantGaramond-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
